{% macro form_error_summary(form) -%}
  {% if form.errors %}
    <div class="md-form-alert" role="alert">
      <strong>Check Required Fields</strong>
      <ul>
        {% for field_name, errors in form.errors.items() %}
          {% set field = form._fields.get(field_name) %}
          <li>{{ field.label.text if field else field_name|replace('_', ' ')|title }}: {{ errors|join(' ') }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}

{% macro field_errors(field) -%}
  {% if field.errors %}
    <div class="md-field-errors" id="{{ field.id }}-errors">
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}
