{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="mt-3">Edit Task</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label }}
      {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.details.label }}
      {{ form.details(class="form-control") }}
    </div>
    <div class="mb-3 form-check">
      {{ form.is_hot(class="form-check-input") }}
      {{ form.is_hot.label(class="form-check-label") }}
    </div>
    <div class="mb-3">
      {{ form.shift.label }}
      {{ form.shift(class="form-select") }}
    </div>
    <div class="mb-3">
      {{ form.status.label }}
      {{ form.status(class="form-select") }}
    </div>
    <div class="mb-3">
      {{ form.assigned_to.label }}
      {{ form.assigned_to(class="form-select") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
